---
import TitlePage from '@/components/TitlePage'
import BaseLayout from '@/layouts/BaseLayout'
import PsychologyResourcesCard from './Resources'
---

<BaseLayout title={'Resources'}>
	<TitlePage title={'Resource'} />
	<main class='min-h-screen bg-gray-50 dark:bg-gray-950 py-8'>
		<PsychologyResourcesCard client:load />
	</main>
</BaseLayout>
