---
import Author from "src/assets/images/Author.jpg";
---

<a
  href="#"
  class="flex flex-col items-center bg-white border border-gray-200 rounded-2xl shadow md:flex-row hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
>
  <div class="flex flex-col items-center p-10">
    <img
      class="w-24 h-24 object-cover mb-3 rounded-full"
      src={Author.src}
      alt="Diniash"
    />
    <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">
      Dinaish
    </h5>
    <span class="text-sm text-gray-500 dark:text-gray-400">Autism Practitioner</span>
  </div>
  <div class="flex flex-col justify-between p-4 leading-normal">
    <h5
      class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
    >
      About Me
    </h5>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      Hey! I’m an MSc Clinical Psychology graduate from the University of
      Strathclyde, now working as an Autism Practitioner in Glasgow. My love for
      psychology started in high school—right after my mom told me I wasn’t
      going to be a pianist. Turns out, supporting people with mental health
      disabilities is way more fulfilling! 
	 <br> 
	  When I’m not working, I’m probably
      horse riding, teaching piano, on befriending calls or having a pint! I’m
      also a huge animal lover, with a newfound obsession with cats—my blog logo
      is a tribute to my late black cat, Sammy. May he forever nap in peace.
    </p>
  </div>
</a>
