---
import Author from 'src/assets/images/Author.jpg'
---

<a
	href='#'
	class='flex flex-col items-center bg-white border border-gray-200 rounded-2xl shadow md:flex-row hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700'
>
	<div class='flex flex-col items-center p-10'>
		<img class='w-24 h-24 object-cover mb-3 rounded-full' src={Author.src} alt='Diniash' />
		<h5 class='mb-1 text-xl font-medium text-gray-900 dark:text-white'>Dinaish</h5>
		<span class='text-sm text-gray-500 dark:text-gray-400'>Autism Practitioner</span>
	</div>
	<div class='flex flex-col justify-between p-4 leading-normal'>
		<h5 class='mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white'>About Me</h5>
		<p class='mb-3 font-normal text-gray-700 dark:text-gray-400'>Hey!</p>
		<p class='mb-4 text-gray-700 dark:text-gray-300'>
			Curiosity about how people think, feel, and behave has shaped my career and my studies as an
			Autism Practitioner and an MSc Clinical Psychology graduate based in Scotland. This blog is
			where I share that curiosity.
		</p>
		<p class='mb-4 text-gray-700 dark:text-gray-300'>
			I wanted to create a space where psychology feels accessible to everyone, whether you’re
			deeply passionate about it or just a little curious. I do my best to write in a way that’s
			clear, and easy to follow (hopefully, hehe), so anyone can enjoy and learn something new.
		</p>
		<p class='mb-4 text-gray-700 dark:text-gray-300'>
			You might also notice a bit of a cat theme, this is a small tribute to my first and late cat,
			Sammy, who inspired the blog’s logo and of course, my love for cats!
		</p>
		<p class='text-gray-700 dark:text-gray-300'>
			If anything you read sparks your interest, I’d love to hear from you! Feel free to get in
			touch with feedback, suggestions for future topics, or any questions you think I might be able
			to help with.
		</p>
	</div>
</a>
